# Tipay Frontend — Environment Variables
# Copy to .env.local and fill in your values

# Stellar network (testnet | mainnet)
NEXT_PUBLIC_STELLAR_NETWORK=testnet

# Deployed Tipay contract ID (testnet)
NEXT_PUBLIC_TIPAY_CONTRACT_ID=CCHR4BDVIIYFQRA5JHJWLCDVNV37JY5FQBW5EKK37UFI5DRFWZ7QHOMC

# Native XLM Stellar Asset Contract address (network-specific!)
# Testnet: CDLZFC3SYJYDZT7K67VZ75HPJVIEUVNIXF47ZG2FB2RMQQVU2HHGCYSC
# Mainnet: CAS3J7GYLGXMF6TDJBBYYSE3HQ6BBSMLNUQ34T6TZMYMW2EVH34XOWMA
NEXT_PUBLIC_TOKEN_SAC_ADDRESS=CDLZFC3SYJYDZT7K67VZ75HPJVIEUVNIXF47ZG2FB2RMQQVU2HHGCYSC
